bower_components/
nbproject/private/
vendor/
.DS_Store
logs/
data/
composer.lock


!bower_components/bootstrap/dist/css/bootstrap-theme.min.css
!bower_components/bootstrap/dist/css/bootstrap.css
!bower_components/bootstrap/dist/js/bootstrap.min.js
!bower_components/handlebars/handlebars.min.js
!bower_components/jQuery/dist/jquery.min.js
!bower_components/jquery-ui/jquery-ui.min.js
!bower_components/underscore/underscore-min.js