<div class="deptEditor">
    {{#if Id}}
    <h2>Edit department</h2>
    {{else}}
    <h2>Create department</h2>
    {{/if}}
    <div class="form-group">
        <label for="newDeptName">Department Name:</label>
        <input type="text" id="newDeptName" name="Name" value="{{Name}}">
    </div>
    <input type="hidden" name="Id" value="{{Id}}">
    <button class="saveButton btn btn-primary">Save</button>
    {{#if Id }}<button class="deleteButton btn btn-danger">Delete</button>{{/if}}
    <button class="cancelButton btn btn-default">Cancel</button>
</div>
