<!DOCTYPE html>
<html>
    <head>
        <title>{{Name}}</title>
        <style>
            span{font-family: sans-serif;}
            table{border-style:solid;border-width: thin; border-color: #ccccff}
            .jh-type-array{background-color: lightblue;}
            .jh-key{color:#672d00}
        </style>
    </head>
    <body>
        <div>{{{Table}}}</div>
        <p>Download the raw JSON quiz <a href="data:text/json;charset=utf-8,{{{Json}}}" download="{{Name}}.json">here</a></p>
    </body>
</html>
