<div class="questionsList">
    <h3>Questions:</h3>
    {{#each Questions}}
        {{> question-partial this}}
    {{/each}}
    <button class="btn btn-success btn-sm createQuestion">Add new Question</button>
</div>
