<div class="quizEditor" data-id="{{Id}}" data-department="{{DepartmentId}}">
    <div class="form-group lead">
        <label for="Name">Quiz Name:</label>
        <input type="text" name="Name" id="Name" value="{{Name}}" >
    </div>
    {{>questionSection-partial Questions}}
</div>
